@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --brown-bg: #756157;
  --blue-bg: #82b3d3;
  --grey-bg: #f2f2f2;
  --green-bg: #7DB54F;
  --color-secondary: #333333;
  --light-blue-bg: rgba(131, 179, 211, 0.12);
  --fz-h2: 30px;
  --lh-h2: 36px;
  --btn-border-radius: 4px;
  --border-handling: 1px solid #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: var(--grey-bg);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.page-main {
  flex-grow: 1;
}

.page-main--inner {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1060px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  min-height: 36px;

  font: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button[disabled] {
  background-color: #e5e5e5;
}

.button--brown {
  color: #ffffff;
  background-color: var(--brown-bg);
}

.button--brown:hover,
.button--brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.button--blue {
  color: #ffffff;
  background-color: var(--blue-bg);
}

.button--blue:hover,
.button--blue:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.button--green {
  color: #ffffff;
  background-color: var(--green-bg);
}

.button--green:hover,
.button--green:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.button--transparent {
  border: 3px solid transparent;
  background-color: transparent;
}

.button--transparent:hover {
  opacity: 0.6;
}

.button--transparent:active {
  opacity: 0.3;
}

.button--transparent:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.button--transparent[disabled] {
  opacity: 0.1;
}

.button--grey {
  background-color: var(--grey-bg);
}

.navigation {
  flex-grow: 1;
  display: flex;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation__list--user {
  margin-left: auto;
  align-items: center;
}

.navigation__list--user .navigation__link {
  padding: 0;
  width: 44px;
  height: 64px;

  background-repeat: no-repeat;
  background-position: center;
}

.navigation__list--user .navigation__item:last-child {
  margin-left: 20px;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  position: relative;

  display: block;
  padding: 20px 16px;

  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation__list:not(.navigation__list--user) .navigation__link:hover::after,
.navigation__list:not(.navigation__list--user) .navigation__link:focus::after,
.navigation__list:not(.navigation__list--user) .navigation__link:not([href])::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: var(--brown-bg);
}

.navigation__link--search {
  background-image: url(../images/icons/icon-search.svg);
}

.navigation__link--favorites {
  background-image: url(../images/icons/icon-favorite.svg);
}

.navigation__button {
  min-width: 160px;
}

.navigation__favorites {
  position: absolute;
  top: 11px;
  right: 4px;

  width: 20px;
  height: 20px;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;

  background-color: var(--green-bg);
  border-radius: 50%;
}

.banner {
  position: relative;

  padding: 51px;
  padding-bottom: 82px;

  color: #ffffff;
  text-align: center;

  background-color: var(--light-blue-bg);
  background-image: url("../images/backkgrounds/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 57px;

  background-image: url("../images/welcome-gradient.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.promo {
  padding: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.promo--big {
  padding-top: 69px;
  padding-bottom: 69px;
}

.promo p {
  margin-top: 0;
  margin-bottom: 25px;
}

.promo p:last-child {
  margin-bottom: 0;
}

.promo__text {
  margin: 0 auto;
  max-width: 620px;

  font-weight: 700;
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-align: center;
  text-transform: uppercase;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  grid-column: span 1;
  text-align: center;
}

.features__item:nth-child(2n) {
  background-color: var(--light-blue-bg);
}

.features__item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features__item:first-child,
.features__item:last-child {
  grid-column: 1 / -1;
  color: #ffffff;
  background-color: var(--blue-bg);
}

.feature {
  display: flex;
}

.feature--with-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature--with-image .feature__image {
  grid-column: span 2;
}

.feature__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 84px;
  min-height: 385px;
}

.feature__description h3 {
  margin: 0;
  margin-bottom: 62px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.feature__description p {
  vertical-align: middle;
}

.feature__image img {
  display: block;
  max-width: 100%;
}

.facilities__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.facilities__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;

  color: #333333;
  text-align: center;
}

.facilities__item:nth-child(2n - 1) {
  background-color: var(--light-blue-bg);
}

.facilities__item h3 {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.facilities__item img {
  margin-bottom: 30px;
}

.facilities__item p {
  margin: 0;
}

.subscribe {
  margin: 0 auto;
  padding: 96px;
  text-align: center;
}

.subscribe--with-bg {
  color: #ffffff;
  background-color: var(--blue-bg);
  background-image: url("../images/backkgrounds/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe p {
  margin: 0;
  margin-bottom: 20px;

  font-size: 22px;
  line-height: 26px;
}

.subscribe p:last-child {
  margin-bottom: 0;
}

.subscribe b,
.subscribe h2 {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-transform: uppercase;
}

.subscribe h2 {
  margin: 0;
  margin-bottom: 20px;
}

.subscribe__link {
  margin-top: 34px;
  min-width: 375px;
}

.subscribe__form {
  margin-top: 54px;
}

.subscribe__input {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe__button {
  width: 232px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  color: inherit;
  text-decoration: none;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__link {
  font-size: 40px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
}

.page-main__header {
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.page-main__header--catalog {
  color: #ffffff;
  background-color: var(--blue-bg);
  background-image: url("../images/backkgrounds/bg-filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__title {
  margin-bottom: 8px;
}

.page-main__breadcrumbs {
  margin-bottom: 40px;
}

.page-main__handling {
  margin-bottom: 40px;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__form {
  display: flex;
  justify-content: space-between;
}

.filters__column {
  display: flex;
  justify-content: space-between;
}

.filters__column--left {
  width: 370px;
}

.filters__column--right {
  width: 550px;
}

.filter__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
}

.filter__price input {
  font: inherit;
  font-weight: 700;
  font-size: inherit;
}

.filter__price span {
  line-height: 24px;
  vertical-align: middle;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.filters__buttons {
  align-self: flex-end;
}

.filters__button {
  width: 100%;
}

.handling {
  display: flex;
  align-items: center;
}

.handling__text {
  margin: 0;
  margin-right: auto;

  font-weight: 700;
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-transform: uppercase;
}

.handling__sort {
  margin-right: 70px;
  padding: 11px 20px;

  font: inherit;
  color: var(--color-secondary);

  border: var(--border-grey);
  border-radius: var(--btn-border-radius);
}

.handling__button {
  width: 48px;
  height: 48px;
  border: var(--border-handling);
}

.offers {
  margin-bottom: 40px;
}

.offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers__item {
  display: grid;
}

.offer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.offer__image img {
  display: block;
  margin-bottom: 16px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.offer__detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
  color: var(--color-secondary);
}

.offer__detail dd {
  margin: 0;
  text-align: right;
}

.offer__footer {
  margin-top: auto;
}

.offer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 16px;
}

.rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.rating__value {
  color: var(--color-secondary);
}

.pagination {
  padding: 40px 0;
}

.pagination__list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  color: #ffffff;
}

.pagination__item--current {
  color: inherit;
}

.pagination__item--space {
  color: inherit;
}

.pagination__link {
  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
}

.pagination__item--space .pagination__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.page-header__container {
  display: flex;
}

.page-header__logo {
  margin-right: 30px;
  max-height: 64px;
  z-index: 10;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
}
