@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --brown-bg: #756157;
  --blue-bg: #82b3d3;
  --grey-bg: #f2f2f2;
  --green-bg: #7DB54F;
  --color-secondary: #333333;
  --light-blue-bg: rgba(131, 179, 211, 0.12);
  --fz-h2: 30px;
  --lh-h2: 36px;
}

html {
  height: 100%;
  background-color: var(--grey-bg);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.page-main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1060px;
}

.button {
  font: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

.button--brown {
  color: #ffffff;
  background-color: var(--brown-bg);
}

.button--blue {
  color: #ffffff;
  background-color: var(--blue-bg);
}

.button--green {
  color: #ffffff;
  background-color: var(--green-bg);
}

.button--transparent {
  background-color: transparent;
}

.button--grey {
  background-color: var(--grey-bg);
}

.navigation {
  flex-grow: 1;
  display: flex;
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__list--user {
  margin-left: auto;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.banner {
  color: #ffffff;
  text-align: center;

  background-color: var(--light-blue-bg);
  background-image: url("../images/backkgrounds/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.promo__text {
  margin: 0 auto;
  max-width: 620px;

  font-weight: 700;
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-align: center;
  text-transform: uppercase;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: calc(100% / 3);
  text-align: center;
}

.features__item:nth-child(2n) {
  background-color: var(--light-blue-bg);
}

.features__item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features__item:first-child,
.features__item:last-child {
  width: 100%;
  color: #ffffff;
  background-color: var(--blue-bg);
}

.feature__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.feature__text {
  vertical-align: middle;
}

.facilities__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.facilities__item {
  color: #333333;
  text-align: center;
}

.facilities__item:nth-child(2n - 1) {
  background-color: var(--light-blue-bg);
}

.facilities__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.offer {
  text-align: center;
}

.offer__text {
  font-size: 22px;
  line-height: 26px;
}

.offer__text b {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-transform: uppercase;
}

.subscribe {
  text-align: center;
}

.subscribe--with-bg {
  color: #ffffff;
  background-color: var(--blue-bg);
  background-image: url("../images/backkgrounds/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__title {
  text-transform: uppercase;
}

.subscribe__input {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  color: inherit;
  text-decoration: none;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__link {
  font-size: 40px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
}

.page-main__header--catalog {
  color: #ffffff;
  background-color: var(--blue-bg);
  background-image: url("../images/backkgrounds/bg-filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  line-height: 23px;
}

.filter__price input {
  font: inherit;
  font-weight: 700;
  font-size: inherit;
}

.filter__price span {
  line-height: 24px;
  vertical-align: middle;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.handling__text {
  font-weight: 700;
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  text-transform: uppercase;
}

.handling__sort {
  font: inherit;
  color: var(--color-secondary);
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.offer__detail {
  color: var(--color-secondary);
}

.offer__price {
  text-align: right;
}

.rating__value {
  color: var(--color-secondary);
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  color: #ffffff;
  background-color: var(--blue-bg);
}

.pagination__item--current {
  color: inherit;
  background-color: var(--grey-bg);
}

.pagination__item--space {
  color: inherit;
  background-color: transparent;
}

.pagination__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
}

.pagination__item--space .pagination__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.page-header__container {
  display: flex;
}

.page-header__logo {
  margin-right: 30px;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
